* {
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,
                     Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
}
main {
    max-width: 1200px;
    margin: 1em auto;
    padding: 1.5em;
}
section:nth-of-type(1){
    display: flex;
    margin-bottom: 1em;
}
.headline__image {
    width: 140em;
    height: 15em;
    margin-right: 0.4em;
}


.card{
    border: solid 3px grey;
    padding: 1.5em;
    border-radius: 2em;
}

/* Utilities */
.fw-bold-one {
    font-weight: 800;
}
.pt-half {
    padding-top: 0.5em;
}
.pb-half {
    padding-bottom: 0.5em;
}


/* media queries */
@media (min-width: 1020px){
    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        
    }
    .featured__image{
        width: 95%;
        height: 15em;
    }
}

@media (max-width: 1020px){
    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;

    }
    .featured__image{
        width: 95%;
        height: 15em;
    }
}
@media (max-width: 680px){
    .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
    .headline__image {
        display: none;
    }
    
}